<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="test" verbose="1" >
  <test name="one script" >
  
  <!--groups>
    <run>
      <include name="checkbox" />
    </run>
  </groups-->
  
  <packages>
  	<package name= "test.cdd"/>
  </packages>
  	
  	
    <!--classes>
       <class name="test.IVE"/>                    
    </classes-->
  </test>
</suite>
